/.nextflow/

/.vscode/

/.idea/

/work/

/bin/__pycache__/

/bin/ldpop/__pycache__/

/Lookup_tables/

/Align_Reads_Output/

/Theta_Est_Output/

/Sim_Gen_Output/

/Rho_Est_Output/

/env_analysis/

/Testing/

.DS_Store

*.bam

*.fa

*.csv

*.fasta

*.pyc

.nextflow.log

.nextflow.log.*
/testing
