.DS_Store

/.nextflow/

/.vscode/

/.idea/

/Output/

/Output*/

/Work/

.nextflow.log

.nextflow.log.*

/bin/__pycache__/

/bin/ldpop/__pycache__/

/Lookup_tables/

/Original_lk_tables/

/Recom_Est_Output(ref)/

/Theta_Est_Output/

/Sim_Gen_Output/

/Recom_Est_Output*/

/Theta_Est_Output*/

/Sim_Gen_Output*/

/SimulationResults/

/SimulationResults*/

/varied_abundance*/

/Old_results/

/final_parametric_sweep_for_paper/

/final_single_end_for_paper/

/Misc/

*.bam

*.fa
*.csv
*.png
no_results_for.txt
*.fasta
*.pyc
