.DS_Store

/.nextflow/

/.vscode/

/.idea/

/Analysed/

/Analysed_updated_pipeline/

/Lookup_tables/

/Output/

/Work/

.nextflow.log

.nextflow.log.*

/bin/__pycache__/

/bin/ldpop/__pycache__/

/edge_*/

/Lookup_tables(rho0-100_m_0.01_sam_200)/

/Lookup_tables(rho0-1_m_0.01_sam_100)/

/Lookup_tables(rho0-1_m_0.005_sam_200)/

/Recom_Est_Output/

/Theta_Est_Output/

/Sim_Gen_Output/

/SimulationResults/

*.bam

*.fa
