manifest {
    description = 'Metagenome population recombination rate estimation pipeline'
    nextflowVersion = '>= 20.10.0'
}

params {
    help = false

    // Input files
    bam_file = 'none'
    reference_genome = 'none'

    // Parameters (set these as default settings)
    ldpop_rho_range = "101,1"
    params.recom_tract_len = 500 // Needs to be programatically determied
    params.seq_type = 1  // 0 - single end, 1 - paired end
    params.depth_range = "3,200" // min_depth, max_depth
    params.n_bootstrap_samples = 20 // number of bootstrap samples to get error bars for final results
}

process {
    container = 'mprr/mprr:latest'
    conda = 'enviroment.yaml'
}


docker {
    enabled = false
}


tower {
    accessToken = ''
    enabled = false
}
