manifest {
    description = 'Metagenome population recombination rate estimation pipeline'
    nextflowVersion = '>= 20.10.0'
}

process {
    container = 'mprr/mprr:latest'
    conda = '/Users/Sid/miniconda3/envs/mprr'
}

docker {
    enabled = false
}

tower {
    accessToken = ''
    enabled = false
}
