manifest {
    description = 'Rhometa pipeline'
    nextflowVersion = '>= 20.10.0'
}


process {
    conda = 'environment.yaml'
    container = 'sidkris/rmeta:latest'

    executor = 'pbs'
    scratch = true
    cpus  = 1
    memory = 16.GB
    time = 12.h
    
}


docker {
    enabled = false
}


tower {
    accessToken = 'eyJ0aWQiOiAzMDQxfS5jNWFjNmJkMjA3NTY5YWI1NjMxYWRiOTVkNWI3NDlhMGJkMTk3OTg4'
    enabled = true
}