manifest {
    description = 'Rhometa pipeline'
    nextflowVersion = '>= 20.10.0'
}


process {
    container = 'sidkris/rhometa:latest'
    // conda='environment.yaml'

    executor = 'local'
    scratch = true

    cpus  = 4
    memory = 16.GB
    time = 6.h

    // below 2 withLabel config options are for the lookup_table_gen.nf script
    withLabel: LDPOP_TABLE_GEN {
        cpus  = 4
        memory = 16.GB
        time = 72.h
    }

    withLabel: DOWNSAMPLE_LOOKUP_TABLE {
        // cpus must always be 1 for this process, it's single threaded but many instances/forks of the program is run in parallel
        cpus  = 1
        memory = 16.GB
        time = 4.h
    }
    
}


docker {
    enabled = true
}


singularity {
    enabled = false
}


tower {
    accessToken = ''
    enabled = false
}