manifest {
    description = 'Rhometa pipeline config'
    nextflowVersion = '>= 22.10'
}


process {
    container = 'sidkris/rhometa:latest'
    conda='environment.yml'

    executor = 'pbs'
    scratch = true
    //maxForks = 1
    //errorStrategy = 'ignore'

    cpus  = 4
    memory = 30.GB
    time = 5.h

    // below 2 withLabel config options are for the lookup_table_gen.nf script
    withLabel: LDPOP_TABLE_GEN {
        cpus  = 4
        memory = 16.GB
        time = 72.h
    }

    withLabel: DOWNSAMPLE_LOOKUP_TABLE {
        // cpus must always be 1 for this process, it's single threaded but many instances/forks of the program is run in parallel
        cpus  = 1
        memory = 16.GB
        time = 4.h
    }

    // For small processes that can be quickly run locally. Comment out if everything should be run in the executor specified above.
    withLabel: LOCAL_EXEC {
    executor = 'local'
    cpus  = 1
    memory = 1.GB
    time = 10.m

    }
    
}


conda {
    enabled = false
}


docker {
    enabled = false
}


singularity {
    enabled = true
}


tower {
    accessToken = 'eyJ0aWQiOiA3NDE0fS4yZmE4YTcwNjc2Mzk5MTQ5NzdmZDIwNDQ2NTUwMDhjZWI0NjRkZGQy'
    enabled = true
}